
/* Custom CSS for images */
.admin-img {
  width: 150px;
  height: 150px;
}

.library-logo {
  width: 50%;   /* Increased size */
  height: auto; /* Maintain aspect ratio */
}
/* css/Dashboard.css */
.ad-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
  object-fit: cover;
}

.admin-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.admin-name {
  margin-top: 10px;
  font-weight: bold;
}
